h1 {
    font-family: "Lucida Console", "Courier New";
    font-size: 40px;
    font-weight: bold;
    position:relative;
    margin-left: 40px;
    margin-top: 10px;
}
textarea {
    font-size: 22px;
}

#main {
    position:relative;
    margin-right: auto;
    width: 70%;
}

#user {
    position:relative;
    left: 15%;
    width: 70%;
}

#heder {
    position: fixed;
    display: block;
    width: 100%;
    height: 60px;
    display: block;
    background:white;
    top: 1px;
}

.hed1 {
    position: fixed;
    font-family: "Lucida Console", "Courier New";
    font-size: 40px;
    font-weight: bold;
    position:relative;
    margin: 10px;
    margin-left: 33%;
}

.empty {
    position:relative;
    margin-top: 60px;
}

.singleU {
    display: inline-block;
    text-align: center;
    width: 200px;
    min-height: 80px;
    margin: 1em;
    border: 1px solid black;
    vertical-align: top;
}

.book {
    display: inline-block;
    text-align: center;
    width: 200px;
    min-height: 160px;
    margin: 1em;
    border: 1px solid black;
    vertical-align: top;
}
.book--green{
    background: #408000;
}
.book--red {
    background: #ff3333;
}

.order {
    background: #ffffff;
}

.order--complete {
    background: #408000;
}

.order--cancel {
    background: #cccccc;
}

#login {
    position:absolute;
    width: 100%;
    text-align: center;
    top:30%;
}

.succ {
    color:#00ff00;
}

.error {
    color:#ff0000;
}

.buton {
    position:relative;
    text-align: center;
    top:20px;
}

.register {
    color:#4444ff;
    margin-bottom:20px;
}

#sidebar {
    position:fixed;
    width:25%;
    top:0;
    right:0px;
}

.boxbox {
    position: fixed;
    width: 25%;
    top: 61px;
    right: 1px;
    bottom: 1px;
    border: 1px solid black;
    background-color: #E8E8E8;
}

.user {
    position: fixed;
    top:20px;
    line-height:150%;
    font-size: 20px;
    text-align:right;
    right:10px;    
}

h3 {
    position:relative;
    text-align: right;
    top:20px;
    right:10px;
    margin-bottom: 30px;
}

#edit {
    position: fixed;
    width: 20%;
    top: 10px;
    left: 10px;
    margin: 20px;
}
.vozi {
    padding: 1em;
    position: relative;
    top: 0;
    right: 0;
    min-width: 30%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}